<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HN Toplines</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/skeleton.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h4>🗞️ HN Toplines</h4>
        <p>
          Serving the freshest stories from
          <a href="http://news.ycombinator.com/" target="_blank">
            Hacker News.
          </a>
        </p>
      </div>
    </header>
